
/* roboto fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*  */

/* Playfair display fonts family import link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
/*  */
/* *{
    fon
} */

::-webkit-scrollbar{
    display: none;
}

.btn{
    border-radius: 0px !important;
    /* background: #1c0950; */
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}

.generate-btn{
    /* background: #1c0950; */
    border: 2px solid #1c0950;
    color: #1c0950;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
}
    
.generate-btn:hover{
    background: #1c0950;
    color: #fff;
    /* border: none; */
}

.navbar-brand{
    font-size: 1.78rem;
    color: #1c0950;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand:hover{
    color: #1c0950;
}

.nav-link{
    font-size: 1.25rem;
    color: #3f3f3f;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover{
    color: #1c0950;
}

.explore-btn{
    background: #1c0950;
    color: #fff;
    /* border-radius: 0px !important; */
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
    transition: 0.78s;
}
.explore-btn:hover{
    background: none;
    /* border: 2px solid #1C3879; */
    border: 2px solid #1c0950;
    color: #fff;
}

/*  */
#bg1{
    background-image: url('../images/bg-father-day.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 93.6vh;
    background-size: cover;
}

#bg2{
    background-image: url('../images/homepage.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 93.6vh;
    background-size: cover;
}

#bg3{
    background-image: url('../images/bg-couple.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 93.6vh;
    background-size: cover;
}

.quote-box{
    border: 2px solid #6c757d;
    border-radius: 2px;
    transition: 0.68s;
}

.quote-box:hover{
    box-shadow: 0px 4px 10px #1c0950;
}

.quote-box:hover .quote-title{
    color: #1c0950;
    transition: 0.78s;
}

.quote-box:hover .quote-count{
    color: #3f3f3f;
    transition: 0.78s;
}

.title{
    font-size: 6.25rem;
    font-family: 'Roboto', sans-serif;
    line-height: 6.0rem;
}

.quote{
    font-size: 1.75rem;
    /* color: #3F3F3F; */
    color: #000;
    max-width: 600px;
}

.carousel .carousel-control-prev{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #1c0950;
    opacity: 1;
    top: 50%;
    left: 2%;
}

.carousel .carousel-control-next{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #1c0950;
    opacity: 1;
    top: 50%;
    right: 2%;
}

/*  */
.explore-title{
    font-size: 2.5rem;
    font-weight: 600;
    color: #3f3f3f;
    font-family: 'Playfair Display', sans-serif;
}

.explore-desc{
    font-size: 1.375rem;
    font-family: 'Roboto', sans-serif;
}

/*  */
.quote-logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 3px;
}

.quote-count{
    font-size: 1.13rem;
    color: #6c757d;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
}

.quote-title{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #3f3f3f;
    font-family: 'Playfair Display', sans-serif;
}

.quote-action{
    font-size: 0.938rem;
    color: #6c757d;
}

.vl {
    border-left: 2px solid #6c757d;
    height: 18px;
}

/*  */
.alone-img{
    background-image: linear-gradient(to right, #000 2%, #000 1.5%, #000 1%,  transparent), url('../images/alone1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 73.49vh;
    background-size: cover;
}

.alone-title{
    font-size: 4.0rem;
    color: #e6e6e6;
    font-weight: 700;
    line-height: 6.8rem;
    letter-spacing: 2.5px;
    font-family: 'Playfair Display', sans-serif;
}

/*  */
.lovable-box{
    margin-top: 10rem;
    width: 100%;
    height: 42vh;
    position: relative;
}

.lovable-couple{
    position: absolute;
    top: -8.53rem;
    /* right: 7.99rem; */
    right: 0px;
}

.lovable-couple img{
    height: 60vh;
}

.lovable-title{
    color: #3f3f3f;
    font-size: 2.713rem;
    font-weight: 700;
    line-height: 3.62rem;
    letter-spacing: 2.5px;
    font-family: 'Playfair Display', sans-serif;
}

.lovable-text{
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 0.98px;
    font-family: 'Roboto', sans-serif;
}

/*  */

.fatherday-box{
    margin-top: 10rem;
    width: 100%;
    height: 42vh;
    position: relative;
}

.fatherday{
    position: absolute;
    top: -8.0rem;
    /* right: 7.99rem; */
    left: 8%;
}

.fatherday img{
    height: 60.0vh;
}

.fatherday-title{
    color: #3f3f3f;
    font-size: 2.713rem;
    font-weight: 700;
    line-height: 3.62rem;
    letter-spacing: 2.5px;
    font-family: 'Playfair Display', sans-serif;
}

.fatherday-text{
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 0.98px;
    font-family: 'Roboto', sans-serif;
}

.quote-text{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

/* generate button */
.new-quote-btn{
    background: #1c0950;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
}

.new-quote-btn:hover{
    color: #fff;
}

/*  */
.load-more-btn{
    background: #1c0950;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
}

.load-more-btn:hover{
    color: #fff;
}
/*  */

.quote-section{
    background: #f8f9fa;
    cursor: pointer;
    transition: 0.5s;
}

.quote-section:hover{
    background: #eee;
}

.quote-data{
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    font-weight: normal !important;
}

.fa-clipboard{
    border: 2px solid #e6e6e6;
}

.fa-clipboard:hover{
    border: 2px solid #c5c5c5;
}


/*  */
@media screen and (max-width: 768px) {
    #bg1{
        background-position: right;
        height: 93.0vh;
    }
    
    #bg2{
        background-position: right;
        height: 93.0vh;
    }
    
    #bg3{
        background-position: right;
        height: 93.0vh;
    }

    .title{
        font-size: 5.0rem;
        font-family: 'Roboto', sans-serif;
        line-height: 5.0rem;
    }

    .quote{
        /* margin-left: 10px; */
        font-size: 1.5rem;    
        border-radius: 2px;
        backdrop-filter: blur(7px);
        background: rgba(255,255,255,0.1);
        box-shadow: 0 25px 45px rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-right: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding: 5px 10px;
        color: #fff;
        max-width: 600px;
    }
    
    .carousel .carousel-control-prev{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background: #1c0950;
        opacity: 1;
        top: 52%;
        left: 2%;
    }

    .carousel .carousel-control-next{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background: #1c0950;
        opacity: 1;
        top: 52%;
        right: 2%;
    }
}


@media screen and (max-width: 450px) {
    #bg1{
        background-position: right;
        height: 93.0vh;
    }
    
    #bg2{
        background-position: right;
        height: 93.0vh;
    }
    
    #bg3{
        background-position: right;
        height: 93.0vh;
    }

    .title{
        font-size: 4.0rem;
        font-family: 'Roboto', sans-serif;
        line-height: 4.54rem;
    }

    .quote{
        font-size: 1.38rem;    
        border-radius: 2px;
        backdrop-filter: blur(7px);
        background: rgba(255,255,255,0.1);
        box-shadow: 0 25px 45px rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-right: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding: 5px 10px;
        color: #fff;
        max-width: 600px;
    }
    
    .carousel .carousel-control-prev{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: #1c0950;
        opacity: 1;
        top: 52%;
        left: 2%;
    }

    .carousel .carousel-control-next{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: #1c0950;
        opacity: 1;
        top: 52%;
        right: 2%;
    }

    .explore-title{
        font-size: 1.89rem;
        font-weight: 600;
        color: #3f3f3f;
        font-family: 'Playfair Display', sans-serif;
    }

    .alone-img{
        background-position: center;
    }

    .alone-title{
        font-size: 3.0rem;
        line-height: 4.5rem;
        letter-spacing: 2.5px;
    }

    .lovable-box{
        margin-top: 2.5rem;
    }

    .lovable-title{
        color: #3f3f3f;
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 2.0px;
    }
    
    .lovable-text{
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 1.78rem;
        letter-spacing: 0.98px;
        font-family: 'Roboto', sans-serif;
    }

    .fatherday-box{
        margin-top: 2.5rem;
    }

    .fatherday-title{
        color: #3f3f3f;
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 2.0px;
    }
    
    .fatherday-text{
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 1.78rem;
        letter-spacing: 0.98px;
    }

    .quote-data{
        font-size: 1.0rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.3px;
    }

}